@font-face {
	font-family: Vazir FD;
	src        : url('Vazir-Regular-FD.eot');
	src        : url('Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'),
		url('Vazir-Regular-FD.woff2') format('woff2'),
		url('Vazir-Regular-FD.woff') format('woff'),
		url('Vazir-Regular-FD.ttf') format('truetype');
	font-weight : normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin    : 0px;
	padding   : 0px;
}

body {
	text-align: right;
}

header {
	position: fixed;
	width   : 100%;
}

/*** start progress bar ***/
.byd-progress {
	position        : fixed;
	top             : 0;
	z-index         : 10;
	width           : 100%;
	background-color: #f1f1f1;
	direction       : rtl;
}

.progress-container {
	width     : 100%;
	height    : 5px;
	background: rgb(230, 229, 229);
}

.progress-bar {
	height    : 5px;
	background: #7166F9;
	width     : 0%;
}

/*** end progress bar ***/
.byd-top-headar {
	direction      : rtl;
	width          : 100%;
	height         : 40px;
	display        : inline-flex;
	justify-content: space-between;
}

#slidebar-open-id {
	font-size    : 20px;
	padding-top  : 10px;
	padding-right: 34px;
	padding-left : 22px;
}

.byd-search-box {
	float  : left;
	padding: 6px;
	
}

input {
	outline: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family       : 'Vazir';
	font-size         : 55%;
	color: #19305E;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}
input[type=search] {
	background           : #f3f3f3 ;
	border               : solid 1px #ccc;
	padding              : 9px 10px 9px 32px;
	width                : 60px;
	-webkit-border-radius: 10em;
	-moz-border-radius   : 10em;
	border-radius        : 10em;
	-webkit-transition   : all .5s;
	-moz-transition      : all .5s;
	transition           : all .5s;
}
input[type=search]:focus {
	width             : 250px;
	background-color  : #fff;
	border-color      : #7166F9;
	-webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
	-moz-box-shadow   : 0 0 5px rgba(109, 207, 246, .5);
	box-shadow        : 0 0 5px rgba(109, 207, 246, .5);
}
.byd-left-top {
	padding: 12px 35px;
}
.byd-left-icon-top {
	padding-left: 8px;
}

/*** end top header ***/
.byd-bottom-header {
	direction      : rtl;
	display        : inline-flex;
	justify-content: space-between;
	width          : 100%;
	height         : 45px;
	box-sizing     : border-box;
}

.byd-right-text {
	direction: rtl;
	display  : inline-flex;
	font-size: 10px;
	padding  : 15px 35px;
}

.byd-right-text a {
	text-decoration: none;
}

.byd-left-bottom {
	padding-left       : 45px;
	/* background-color: royalblue; */
	width              : 50%;
	text-align         : left;

}

.byd-menu {
	width              : 110px;
	float              : left;
	width              : 130px;
	height             : 100%;
	display            : inline-flex;
	/* background-color: purple; */
	text-align         : start;
	direction          : ltr;
}

.byd-img {
	width  : 50px;
	padding: 4px;
}

.byd-img img {
	width       : 100%;
	height      : 100%;
	margin-right: 10px;
}

.byd-dropdown {
	list-style: none;
	font-size : 10px;
	text-align: right;
}

.byd-dropdown-menu {
	display    : inline-block;
	position   : relative;
	line-height: 28px;
	text-align : center;
}

.byd-dropdown-menu a {
	display        : block;
	padding        : 8px 0px;
	color          : #19305E;
	text-decoration: none;
	width          : 80px;
	box-sizing     : border-box;
}

.byd-dropdown-sub-menu a {
	display        : block;
	padding        : 5px 0px;
	color          : #19305E;
	text-decoration: none;
	width          : 180px;
	border-bottom  : 1px solid #e9e9e9;
}
.last {
	border-bottom: 2px solid  #5E52F9!important;
	
}
.byd-menu:hover {
	color     : #fff;
	background: #e0e0e0;
}

.byd-dropdown-sub-menu {
	min-width : 100%;
	/* Set width of the dropdown */
	background: #F5F5FA;
	display   : none;
	position  : absolute;
	z-index   : 999;
	left      : -50px;
}

.byd-dropdown-sub-menu li {
	display: block;
}


/*** end  header :D ***/
/*** sidebar ***/

#sidebar-id {
	width             : 250px;
	height            : 100%;
	position          : fixed;
	top               : 5px;
	right             : -250px;
	padding           : 11px 0 5px 0;
	text-align        : right;
	transition        : right 1.2s;
	-webkit-transition: right 1.2s;
	-moz-transition   : right 1.2s;
	-o-transition     : right 1.2s;
	-ms-transition    : right 1.2s;
}

#slidebar-close-id {
	font-size: 20px;
	float    : left;
}

#slidebar-pin-id {
	float      : left;
	font-size  : 20px;
	margin-left: 5px;
}

.byd-logo {
	text-align : center;
	padding-top: 40px;
	font-size  : 20px;
}
/* sidbar search */
.search-box{
	display: none;
}
.search-box input {
	outline: none;
	margin-right: -40px;
}
.search-box input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family       : 'Vazir';
	font-size         : 40%;
	color: #19305E;
}
.search-box input::-webkit-search-decoration,
.search-box input::-webkit-search-cancel-button {
	display: none;
}
.search-box input[type=search] {
	background           : #f3f3f3 ;
	border               : solid 1px #19305E;
	padding              : 9px 10px 9px 32px;
	width                : 60px;
	-webkit-border-radius: 10em;
	-moz-border-radius   : 10em;
	border-radius        : 10em;
	-webkit-transition   : all .5s;
	-moz-transition      : all .5s;
	transition           : all .5s;
}
.search-box input[type=search]:focus {
	width             : 150px;
	background-color  : #fff;
	border-color      : #7166F9;
	-webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
	-moz-box-shadow   : 0 0 5px rgba(109, 207, 246, .5);
	box-shadow        : 0 0 5px rgba(109, 207, 246, .5);
}
/*** serchbox-responsiv ***/
@media screen and (max-width: 450px) {
	.search-box{
		display: block;
	}
	.byd-search-box {
		display: none;
	}
	.byd-right-text{
		font-size: 7px;
	}
}


/*** menu accordion***/
ul {
	list-style-type: none;
}

a {
	color          : #b63b4d;
	text-decoration: none;
}

.byd-accordion {
	width    : 100%;
	max-width: 360px;
	margin   : 30px auto 20px;
}

.byd-accordion .byd-link {
	cursor            : pointer;
	display           : block;
	padding           : 15px 50px 15px 42px;
	font-size         : 14px;
	font-weight       : lighter;
	/* border-bottom  : 1px solid #CCC; */
	position          : relative;
	-webkit-transition: all 0.4s ease;
	-o-transition     : all 0.4s ease;
	transition        : all 0.4s ease;
	text-align        : right;
}

.byd-accordion li:last-child .byd-link {
	border-bottom: 0;
}

.byd-accordion li i {
	position          : absolute;
	top               : 16px;
	right             : 12px;
	font-size         : 18px;
	-webkit-transition: all 0.4s ease;
	-o-transition     : all 0.4s ease;
	transition        : all 0.4s ease;
}

.byd-accordion li i.fa-chevron-down {
	right    : auto;
	left     : 12px;
	font-size: 10px;
}

.byd-accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform    : rotate(180deg);
	-o-transform     : rotate(180deg);
	transform        : rotate(180deg);

}

/***  sub menu accordion ***/

.byd-submenu {
	display      : none;
	width        : 88%;
	/* background: #444359; */
	font-size    : 14px;
}

.byd-submenu a {
	display           : block;
	text-decoration   : none;
	padding           : 12px 21px;
	text-align        : right;
	-webkit-transition: all 0.25s ease;
	-o-transition     : all 0.25s ease;
	transition        : all 0.25s ease;
}

.byd-submenu a:hover {
	/* background: #b63b4d; */
	color: #5E52F9;
}

/*** end sidebar ***/

.p {
	width : 100%;
	height: 7000px;
}