
.icon-up-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-left-open-big:before { content: '\e802'; } /* '' */
.icon-down-open-big:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-up-open-mini:before { content: '\e806'; } /* '' */
.icon-right-open-mini:before { content: '\e807'; } /* '' */
.icon-left-open-mini:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-right-open:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-emo-surprised:before { content: '\e80d'; } /* '' */
.icon-emo-tongue:before { content: '\e80e'; } /* '' */
.icon-emo-coffee:before { content: '\e80f'; } /* '' */
.icon-emo-sunglasses:before { content: '\e810'; } /* '' */
.icon-emo-unhappy:before { content: '\e811'; } /* '' */
.icon-emo-wink:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-emo-happy:before { content: '\e814'; } /* '' */
.icon-emo-beer:before { content: '\e815'; } /* '' */
.icon-emo-grin:before { content: '\e816'; } /* '' */
.icon-emo-angry:before { content: '\e817'; } /* '' */
.icon-emo-saint:before { content: '\e818'; } /* '' */
.icon-emo-cry:before { content: '\e819'; } /* '' */
.icon-emo-shoot:before { content: '\e81a'; } /* '' */
.icon-emo-squint:before { content: '\e81b'; } /* '' */
.icon-emo-laugh:before { content: '\e81c'; } /* '' */
.icon-emo-displeased:before { content: '\e81d'; } /* '' */
.icon-chart:before { content: '\e81e'; } /* '' */
.icon-chat:before { content: '\e81f'; } /* '' */
.icon-discovery:before { content: '\e820'; } /* '' */
.icon-document:before { content: '\e821'; } /* '' */
.icon-folder:before { content: '\e822'; } /* '' */
.icon-game:before { content: '\e823'; } /* '' */
.icon-graph:before { content: '\e824'; } /* '' */
.icon-heart:before { content: '\e825'; } /* '' */
.icon-home:before { content: '\e826'; } /* '' */
.icon-location:before { content: '\e827'; } /* '' */
.icon-message:before { content: '\e828'; } /* '' */
.icon-notification:before { content: '\e829'; } /* '' */
.icon-plus:before { content: '\e82a'; } /* '' */
.icon-profile:before { content: '\e82b'; } /* '' */
.icon-scan:before { content: '\e82c'; } /* '' */
.icon-search:before { content: '\e82d'; } /* '' */
.icon-setting:before { content: '\e82e'; } /* '' */
.icon-star:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-wallet:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-activity:before { content: '\e835'; } /* '' */
.icon-bag:before { content: '\e836'; } /* '' */
.icon-bookmark:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-calendar:before { content: '\e83a'; } /* '' */
.icon-category:before { content: '\e83b'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */